{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h1>Password Reset</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h5>Enter the email address associated with your account, and you will receive a link to change your password.</h5>
    </div>
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Send">
        </form>
    </div>
{% endblock content %}