{% extends 'base.html' %}

{% block title %}Success{% endblock title %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <h1>Email Sent</h1>
            </div>
            <div class="d-flex justify-content-center">
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
            <div class="d-flex justify-content-center">
                <p><a href="{% url 'home' %}">Click here</a> to go back to the home page.</p>
            </div>
        </div>
    </div>
{% endblock content %}