{% extends 'base.html' %} 
{% load crispy_forms_tags %} 

{% block title %}Password Change{% endblock title %} 

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <h1>Choose Your New Password</h1>
            </div>
            <form method="POST">
                {% csrf_token %} {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Change" />
            </form>
        </div>
    </div>
{% endblock content %}
