{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Sign Up{% endblock title %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <h1>Sign Up</h1>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock content %}