{% extends 'base.html' %}

{% block title %}About Me - SpaceWeb Inc.{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>About Me - SpaceWeb Inc.</h2>
                <p>
                    Welcome to SpaceWeb Inc., where web development meets interstellar adventures! I'm Captain Cosmos, the mastermind behind this cosmic company.
                </p>
                <p>
                    As a space-traveling web developer, I blend cutting-edge technology with extraterrestrial creativity to build stellar websites that defy gravity. With my trusty coding keyboard and intergalactic expertise, I'll bring your digital dreams to life across the galaxies.
                </p>
                <p>
                    Join me on this interstellar journey as we explore the vast universe of web development, one celestial website at a time. Together, we'll reach for the stars!
                </p>
                <p>
                    Buckle up and prepare for an out-of-this-world web development experience with SpaceWeb Inc. Let's defy boundaries and embrace the cosmic frontier of the digital universe!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
